<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<h1>Registration Form</h1>
<form th:action="@{/registrationSubmit}" method="post">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id"> <br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"> <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"> <br><br>
    <button type="submit">Register</button>
</form>

</body>
</html>
